// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Conduespoch - Escuela de conduccion
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")

    //Place favicon.ico and apple-touch-icon.png in the root directory
    //build:css(.tmp) styles/main.css
    link(rel="stylesheet", href="bower_components/angular-ui-grid/ui-grid.css")
    link(rel="stylesheet", href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css")
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="bower_components/ng-grid/ng-grid.min.css")
    link(rel="stylesheet", href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css")
    link(rel="stylesheet", href="styles/full-slider.css")
    link(rel="stylesheet", href="styles/agency.css")
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    //- build:head
  body#page-top(ng-app="proyectoConduespochEpApp")
    div(ng-view)

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));


    script(src="bower_components/angular/angular.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/jquery-ui/jquery-ui.min.js")

    // build:js scripts/modules.js
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-touch/angular-touch.js")
    script(src="js/jquery.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
    script(src="js/classie.js")
    script(src="js/cbpAnimatedHeader.js")
    script(src="js/jqBootstrapValidation.js")
    script(src="js/contact_me.js")
    script(src="js/agency.js")

    script
      $('.carousel').carousel({
        interval: 5000 //changes the speed
      })
    // endbuild

    // build:js({.tmp,app}) scripts/scripts.js
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/estudiante.js")
    script(src="scripts/controllers/docente.js")
    // endbuild
    //- build:bod

