#page-wrapper(ng-class="{'open': toggle}", ng-cloak='')
  // Sidebar
  #sidebar-wrapper
    ul.sidebar
      li.sidebar-main
        a(ng-click='toggleSidebar()')
          | DOCENTE
          span.menu-icon.glyphicon.glyphicon-transfer
      li.sidebar-title
        span NAVEGACION
      li.sidebar-list
        a.page-scroll(href='#')
          | Dashboard
          span.menu-icon.fa.fa-tachometer
      li.sidebar-list
        a(href='#/tables')
          | Tables
          span.menu-icon.fa.fa-table
    .sidebar-footer
      .col-xs-4
        a(href='https://github.com/rdash/rdash-angular', target='_blank')
          | Github
      .col-xs-4
        a(href='https://github.com/rdash/rdash-angular/README.md', target='_blank')
          | About
      .col-xs-4
        a(href='#')
          | Support
  // End Sidebar
  #content-wrapper
    .page-content
      // Header Bar
      .row.header
        .col-xs-12
          .user.pull-right
            .item.dropdown
              a.dropdown-toggle(href='#')
                img(src='img/avatar.jpg')
              ul.dropdown-menu.dropdown-menu-right
                li.dropdown-header
                  | Joe Bloggs
                li.divider
                li.link
                  a(href='#')
                    | Profile
                li.link
                  a(href='#')
                    | Menu Item
                li.link
                  a(href='#')
                    | Menu Item
                li.divider
                li.link
                  a(href='#')
                    | Logout
            .item.dropdown
              a.dropdown-toggle(href='#')
                i.fa.fa-bell-o
              ul.dropdown-menu.dropdown-menu-right
                li.dropdown-header
                  | Notifications
                li.divider
                li
                  a(href='#') Server Down!
          .meta
            .page
              | Dashboard
            .breadcrumb-links
              | Home / Dashboard
      // End Header Bar
      // Main Content
      div(ui-view='')
        .row
          .col-md-3
            | Filtrar:
            input(type='search', ng-model='q', placeholder='Filtrar asignatura', aria-label='filtrar asignatura')
            ul.example-animate-container
              li.animate-repeat(ng-repeat='asignatura in listadoAsignatura | filter:q as results')
                a(ng-click="seleccionMateriaTipoPregunta(asignatura)") {{asignatura.strNombre}}.
              li.animate-repeat(ng-if='results.length == 0')
                strong Resultado indefinido.
          .col-md-9
            .gridStyle(ng-grid="gridOptions")
        .row
          .col-md-3
            .animate-show(ng-show='visible')
              span.glyphicon.glyphicon-thumbs-up
              strong  SELECCIONE LA ASIGNATURA.
              br
              strong 1.
              | Debe seleccionar la asignatura a la cual se ligara la pregunta a persistir.
              br
              strong 2.
              | Continuar con el flujo de trabajo.
            .animate-show(ng-hide='visible')
              | Materia seleccionada:
              strong  {{NombreMateria}}
              select(ng-model="tipoPreguntaModel", ng-options="tipoPregunta as tipoPregunta.strDescripcion for tipoPregunta in listadoTipoPregunta")
                option(value="") [Tipo Pregunta]

          .col-md-9
            .animate-show(ng-show='visibleC')
              form
                fieldset
                  .form-group
                    .row
                      .col-xs-10
                        label.control-label(for='strBase') Enunciado
                        input#textinput.form-control.input-md(name='strBase', placeholder='Enunciado de pregunta', type='text', ng-model="pregunta.strBase")
                      .col-xs-2
                        label.control-label(for='fltValor') Valor
                        input#textinput.form-control.input-md(name='fltValor', placeholder='Valor', type='number', ng-model="pregunta.fltValor", min="0", max="10")
                    .row
                      strong Opciones de Respuesta
                      ul
                        li(ng-repeat="respuestaC in respuestaCasilla | orderBy: 'intId'")
                          input(type="checkbox", value="{{respuestaC.intId}}", ng-model="respuestaC.bolCorrecto", name="{{respuestaC.intId}}")
                          input(name='{{respuestaC.intId}}', placeholder='Respuesta', type='text', ng-model="respuestaC.strDescripcion", size=70)
                          | &nbsp &nbsp
                          a(ng-click="agregarRespuestaCasilla(respuestaC)")
                            i.fa.fa-plus &nbsp &nbsp
                          a(ng-click="eliminarRespuestaCasilla(respuestaC)")
                            i.fa.fa-times
                          a(ng-click="tester2(respuestaC)")
                            i.fa.fa-times
                      hr
                      | Selected thing: {{selected}}

            .animate-show(ng-show='visibleT')
              form
                fieldset
                  .form-group
                    .row
                      .col-xs-10
                        label.control-label(for='strBase') Enunciado
                        input#textinput.form-control.input-md(name='strBase', placeholder='Enunciado de pregunta', type='text', ng-model="pregunta.strBase")
                      .col-xs-2
                        label.control-label(for='fltValor') Valor
                        input#textinput.form-control.input-md(name='fltValor', placeholder='Valor', type='number', ng-model="pregunta.fltValor", min="0", max="10")
                    .row
                      strong Opciones de Respuesta
                      ul
                        li(ng-repeat="respuestaT in respuestaTest | orderBy: 'intId'")
                          input(type="radio", value="{{respuestaT.intId}}", ng-model="radioSeleccion", name="test", ng-change="asignarRadioSeleccion()")
                          input(name='{{respuestaT.intId}}', placeholder='Respuesta', type='text', ng-model="respuestaT.strDescripcion", size=70)
                          | &nbsp &nbsp
                          a(ng-click="agregarRespuestaTest(respuestaT)")
                            i.fa.fa-plus &nbsp &nbsp
                          a(ng-click="tester2(respuestaT)")
                            i.fa.fa-times
                          a(ng-click="tester2(respuestaT)")
                            i.fa.fa-times
                      hr
                      | Selected thing: {{selected}}

            .animate-show(ng-show='visibleVF')
              form
                fieldset
                  .form-group
                    .row
                      .col-xs-10
                        label.control-label(for='strBase') Enunciado
                        input#textinput.form-control.input-md(name='strBase', placeholder='Enunciado de pregunta', type='text', ng-model="pregunta.strBase")
                      .col-xs-2
                        label.control-label(for='fltValor') Valor
                        input#textinput.form-control.input-md(name='fltValor', placeholder='Valor', type='number', ng-model="pregunta.fltValor", min="0", max="10")
                    .row
                      strong Opciones de Respuesta
                      ul
                        li(ng-repeat="respuestaVF in respuestaVerdadFalso | orderBy: 'intId'")
                          input(type="radio", value="{{respuestaVF.intId}}", ng-model="$parent.selected", name="test")
                          |   {{respuestaVF.strDescripcion}}
                      hr
                      | Selected thing: {{selected}}

            .animate-show(ng-show='visibleTx')
              form
                fieldset
                  .form-group
                    .row
                      .col-xs-10
                        label.control-label(for='strBase') Enunciado
                        input#textinput.form-control.input-md(name='strBase', placeholder='Enunciado de pregunta', type='text', ng-model="pregunta.strBase")
                      .col-xs-2
                        label.control-label(for='fltValor') Valor
                        input#textinput.form-control.input-md(name='fltValor', placeholder='Valor', type='number', ng-model="pregunta.fltValor", min="0", max="10")
                    .row
                      strong Opciones de Respuesta
                      ul
                        li(ng-repeat="respuestaTx in respuestaTexto | orderBy: 'intId'")
                          input(name='{{respuestaTx.intId}}', placeholder='Respuesta', type='text', ng-model="respuestaTx.strDescripcion", size=30)
                          | &nbsp &nbsp
                          a(ng-click="agregarRespuestaTexto(respuestaTx)")
                            i.fa.fa-plus &nbsp &nbsp
                          a(ng-click="tester2(respuestaTx)")
                            i.fa.fa-times
                      hr
                      | Selected thing: {{selected}}


    // End Page Content
  // End Content Wrapper
// End Page Wrapper
