nav.navbar.navbar-default.navbar-fixed-top
  .container
    div.navbar-header(class="page-scroll")
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
        span.sr-only toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //a.navbar-brand(class="page-scroll", href="#page-top") CONDUESPOCH E.P.
      img.img-circle.img-responsive(src='img/sello-pestaña.jpg', alt='sello_conduespoch')
      //h4 CONDUESPOCH E.P
    div#bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#page-top')
        li
          a.page-scroll(href='#services', style=" font-size:13px; font-weight: bold;") Servicios
        li
          a.page-scroll(href='#portfolio', style="font-size:13px; font-weight: bold;") Portafolio
        li
          a.page-scroll(href='#about', style=" font-size:13px; font-weight: bold;") Quienes somos
        li
          a.page-scroll(href='#team', style=" font-size:13px; font-weight: bold;") Equipo de trabajo
        li
          a.page-scroll(href='#contact', style="font-size:13px; font-weight: bold;") Contactenos
        li
          a.page-scroll(href='#', style=" font-size:13px; font-weight: bold;") Ingresar
